@import "common";
@import "components/header";
@import "components/main-banner";
@import "components/card";
@import "components/work";
@import "components/tariffs";
@import "components/reviews";
@import "components/sale";
@import "components/faq";
@import "components/feedback";

body{
  padding: 24px;
  background: $main-bg;

  .wrapper{
    background: $main-white;
    border-radius: 24px;
    overflow: hidden;
  }
}