@include small-desktop{
  .footer{
    & > .container{
      padding: 0 56px;
    }
    &-copyright{
      font-size: 14px;
    }
  }
}
@include small-tablet{
  .footer{
    & > .container{
      padding: 0 20px;
    }
    &-logo, &-copyright{
      font-size: 14px;
    }
    .scroll{
      &-text{
        font-size: 14px;
        &__comeback{
          display: none;
        }
      }
      &-text:first-letter{
        text-transform: uppercase;
      }
    }
  }
}