@include small-desktop{
  .sale{
    & > .container{
      padding: 0 56px;
    }
    &-inner{
      grid-template-columns: 1fr;
      gap: 87px;
    }
    &-img{
      justify-self: center;
      width: 90%
    }
  }
}
@include small-tablet{
  .sale{
    & > .container{
      padding: 0 20px;
    }
    &-inner{
      padding: 40px 0;
      gap: 40px;
    }
    &-title{
      font-size: 36px;
    }
    &-form{
      &__email{
        max-width: fit-content;
      }
      &__input{
        font-size: 14px;
      }
      &__button{
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}