@include small-desktop{
  .feedback{
    & > .container{
      padding: 0 56px;
    }
    &-image{
      display: none;
    }
    &-content{
      max-width: fit-content;
    }
    .user-agreement{
      max-width: 238px;
    }
  }
}
@include tablet{
  .feedback{
    &-description{
      max-width: 75%;
    }
  }
}
@include small-tablet{
  .feedback{
    padding: 40px 0;

    & > .container{
      padding: 0 20px;
    }
    &-title{
      font-size: 26px;
    }
    &-description{
      font-size: 14px;
      max-width: 100%;
    }
    &-form{
      &__input{
        &-field{
          font-size: 14px;
        }
      }
      &__button{
        font-size: 14px;
      }
    }
  }
}

@include phone{
  .feedback{
    &-form{
      &__sending{
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}