body{
  font-family: "VisuelPro-regular", sans-serif;
}
.container{
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px;
  width: 100%;
}
button{
  cursor: pointer;
}
@include small-desktop{
  .container{
    padding: 0 56px;
  }
}
@include small-tablet{
  .container{
    padding: 0 20px;
  }
}