body{
  font-family: "VisueltPro-Regular", sans-serif;
  transition: 0.3s;
}
.container{
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px;
  width: 100%;
}
button{
  cursor: pointer;
  transition: 0.3s;
}