@font-face {
  src: url("../../fonts/VisueltPro-Regular.ttf");
  font-family: 'VisueltPro-Regular';
}
@font-face {
  src: url("../../fonts/VisueltPro-Medium.ttf");
  font-family: 'VisueltPro-Medium';
}