@import "fonts.scss";
$color-blue: rgb(71, 84, 235);
$color-purple: rgb(134, 51, 176);
$color-pink: #eb478b;
$color-yellow: #ffdf80;
$color-orange: #f47b25;
$main-white: #fff;
$main-black: #1a1a1a;
$main-grey: #808080;
$lt-grey: #D9D9D9;
$hover-blue: #626EEB;
$inactive-blue: #3c49dd;
$main-bg: #f2f2f2;

//breakpoints
$breakpoint-desktop: 1150px;
$breakpoint-small-desktop: 1050px;
$breakpoint-tablet: 768px;
$breakpoint-small-tablet: 600px;
$breakpoint-phone: 376px;