@font-face {
  src: url("../../fonts/VisueltPro-Regular.ttf");
  font-family: "VisueltPro-Regular";
}
@font-face {
  src: url("../../fonts/VisueltPro-Medium.ttf");
  font-family: "VisueltPro-Medium";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

@font-face {
  src: url("../../fonts/VisueltPro-Regular.ttf");
  font-family: "VisueltPro-Regular";
}
@font-face {
  src: url("../../fonts/VisueltPro-Medium.ttf");
  font-family: "VisueltPro-Medium";
}
body {
  font-family: "VisuelPro-regular", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.header-logo {
  color: rgb(71, 84, 235);
  font-family: "VisueltPro-Medium", sans-serif;
  font-size: 18px;
}
.header-block {
  display: flex;
  height: fit-content;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}
.header-inner {
  display: flex;
  gap: 95px;
  align-items: center;
}
.header-interaction {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #808080;
}
.header-interaction span:first-child {
  font-family: "VisueltPro-Medium", sans-serif;
  color: rgb(71, 84, 235);
}
.header-navigation {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header-navigation__link {
  color: #808080;
}
.header-button {
  padding: 14px 24px;
  border-radius: 16px;
  border: none;
  background: rgb(71, 84, 235);
  color: #fff;
  font-size: 18px;
  font-family: "VisueltPro-Medium", sans-serif;
}

.banner {
  background: radial-gradient(at -15% 95%, rgba(134, 51, 176, 0.4) 10%, rgba(71, 84, 235, 0.3) 25%, transparent 45%), radial-gradient(circle at 60% 60%, rgba(71, 84, 235, 0.4) -30%, transparent 30%), radial-gradient(at 80% 120%, rgba(71, 84, 235, 0.3) -15%, #fff 35%);
}
.banner-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.banner-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-block .user-agreement {
  font-size: 12px;
  color: #595959;
  font-family: "VisueltPro-Regular", sans-serif;
}
.banner-block .user-agreement > span {
  color: rgb(71, 84, 235);
}
.banner-interaction {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 80px;
}
.banner-interaction span {
  color: #fff;
}
.banner-title {
  font-family: "VisueltPro-Medium", sans-serif;
  font-weight: 400;
  font-size: 56px;
  color: #1a1a1a;
  line-height: 1.25;
  margin-bottom: 40px;
}
.banner-form {
  display: flex;
  padding: 8px 8px 8px 16px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.banner-input {
  border: none;
  background: transparent;
  font-size: 18px;
}
.banner-button {
  padding: 12px 24px;
  border: none;
  background: #fff;
  color: rgb(71, 84, 235);
  border-radius: 12px;
  font-family: "VisueltPro-Medium", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.advantages {
  padding: 79px 0;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.advantages > .container:last-child {
  max-width: 1344px;
}
.advantages .title {
  font-family: "VisueltPro-Medium", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: start;
  color: #1a1a1a;
}
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.advantages-title {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 12px;
  align-items: center;
}
.advantages-title-text {
  color: #1a1a1a;
  font-family: "VisueltPro-Medium", sans-serif;
  font-size: 18px;
}
.advantages-block {
  backdrop-filter: blur(24px);
  box-shadow: 0 4px 20px 0 rgba(25, 25, 25, 0.05);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  overflow: hidden;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.advantages-text {
  color: #808080;
  font-family: "VisueltPro-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

.work {
  background: radial-gradient(at 90% -10%, rgba(134, 51, 176, 0.4) 10%, rgba(71, 84, 235, 0.3) 25%, transparent 45%), radial-gradient(circle at 10% 70%, rgba(235, 71, 135, 0.2) 10%, transparent 30%);
}
.work-inner {
  padding: 80px 0;
}
.work-title {
  font-family: "VisueltPro-Regular", sans-serif;
  font-size: 36px;
  color: #1a1a1a;
  margin-bottom: 41px;
}
.work-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  align-items: center;
}
.work-info {
  display: flex;
  flex-direction: column;
  max-width: 463px;
  align-items: start;
}
.work-info__title {
  font-size: 36px;
  color: #1a1a1a;
  font-family: "VisueltPro-Medium", sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
}
.work-info__under-title {
  font-family: "VisueltPro-Medium", sans-serif;
  color: rgb(71, 84, 235);
  font-size: 18px;
  margin-bottom: 24px;
}
.work-info__description {
  font-size: 18px;
  color: #808080;
  font-family: "VisueltPro-Regular", sans-serif;
  line-height: 135%;
}
.work-info__description-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 71px;
}
.work-info__button {
  padding: 16px 24px;
  background: rgb(71, 84, 235);
  color: #fff;
  border: none;
  border-radius: 16px;
  font-family: "VisueltPro-Medium", sans-serif;
  line-height: 135%;
  font-size: 18px;
}
.work-scroll {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
.work-scroll_blue {
  font-size: 18px;
  font-family: "VisueltPro-Medium", sans-serif;
  color: rgb(71, 84, 235);
}
.work-scroll_white {
  font-family: "VisueltPro-Regular", sans-serif;
  color: #fff;
  font-size: 18px;
}
.work-scroll__line {
  width: 24px;
  height: 1px;
  background: #fff;
}

.tariffs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0;
}
.tariffs-title {
  font-size: 36px;
  line-height: 112%;
  color: #1a1a1a;
  font-family: "VisueltPro-Medium", sans-serif;
  font-weight: 400;
}
.tariffs > .container:last-child {
  max-width: 1344px;
}
.tariffs-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.tariffs-block {
  padding: 22px;
  backdrop-filter: blur(24px);
  box-shadow: 0 4px 20px 0 rgba(25, 25, 25, 0.05);
  background: rgba(249, 249, 249, 0.5);
  display: flex;
  flex-direction: column;
  gap: 44px;
  border-radius: 24px;
  border: 1px solid #fff;
  overflow: hidden;
}
.tariffs-rate {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tariffs-rate__level {
  color: #1a1a1a;
  font-size: 24px;
  font-family: "VisueltPro-Medium", sans-serif;
}
.tariffs-rate__price {
  color: #808080;
  font-size: 24px;
  font-family: "VisueltPro-Medium", sans-serif;
}
.tariffs-rate__price-blue {
  color: rgb(71, 84, 235);
}
.tariffs-points {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.tariffs-points__item {
  display: flex;
  gap: 16px;
  align-items: start;
}
.tariffs-points__item-description {
  font-size: 18px;
  line-height: 135%;
  color: #808080;
  font-family: "VisueltPro-Regular", sans-serif;
}
.tariffs-button {
  padding: 16px 56px;
  color: rgb(71, 84, 235);
  background: #fff;
  font-family: "VisueltPro-Medium", sans-serif;
  font-size: 18px;
  line-height: 135%;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

body {
  padding: 24px;
  background: #f2f2f2;
}
body .wrapper {
  background: #fff;
  border-radius: 24px;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
