@include small-desktop{

  .header{

    &-navigation{
      display: none;
    }

    & > .container{
      padding: 0 56px;
    }

    .burger-menu{
      display: block;
    }

    &-logo{
      &-inner{
        display: flex;
        gap: 24px;
        align-items: center;
      }
    }
    .switch-language{
      display: none;
    }
  }
}

@include small-tablet{
  .header{
    &-button{
      display: none;
    }
    & > .container{
      padding: 0 20px;
    }
    .profile{
      display: block;
    }
    &-block{
      padding: 12px 0;
    }
  }
}

@include phone{
  .header{
    &-logo{
      font-size: 14px;
    }
  }
}