.reviews{
  padding: 80px 0;
  min-height: 800px;
  background: radial-gradient(circle at 105% -15%, rgba(235, 71, 139, 0.3) 5%, rgba(151, 49, 135, 0.3) 20%, transparent 35%),
              radial-gradient(at 85% 130%, rgba(134, 51, 176, 0.4) 13%, rgba(112, 71, 235, 0.3) 18%, transparent 35%);
  display: flex;
  .container{
    flex: 1;
  }
  &-inner{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
  }
  &-title{
    font-size: 36px;
    line-height: 112%;
    color: $main-black;
    font-family: "VisueltPro-Medium", sans-serif;
    font-weight: 400;
  }
  &-list{
    position: relative;
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &-top{
    display: flex;
    padding: 16px 24px 16px 16px;
    background: rgba(252, 252, 252);
    justify-content: space-between;
    align-items: center;
  }
  &-bottom{
    padding: 16px 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: start;
  }
  &-profile{
    display: flex;
    gap: 16px;
    align-items: center;

    &__name{
      font-family: "VisueltPro-Medium", sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: $main-black;
    }
  }
  &-block{
    max-width: 628px;
    backdrop-filter: blur(240px);
    box-shadow: -2px 4px 20px 0 rgba(25, 25, 25, 0.03);
    background: rgba(249, 249, 249);
    position: absolute;
  }
  &-date{
    font-size: 18px;
    line-height: 135%;
    font-family: "VisueltPro-Regular", sans-serif;
    color: $main-grey;
  }
  &-text{
    font-size: 18px;
    line-height: 135%;
    color: $main-grey;
    font-family: "VisueltPro-Regular", sans-serif;
  }
  &-block:nth-child(1){
    z-index: 1;
    top: 96px;
  }
  &-block:nth-child(2){
    z-index: 2;
    top: 360px;
    left: 164px;
  }
  &-block:nth-child(3){
    z-index: 4;
    top: 40px;
    left: 326px;
  }
  &-block:nth-child(4){
    z-index: 3;
    top: 232px;
    right: 0;
  }
  &-button{
    position: absolute;
    padding: 16px 24px;
    right: 0;
    bottom: 0;
    border: none;
    background: $main-white;
    color: $color-blue;
    border-radius: 16px;
    font-family: "VisueltPro-Medium", sans-serif;
    font-size: 18px;
    line-height: 135%;
    font-weight: 400;
    cursor: pointer;
  }
}












